body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex: 1;
    margin: 0;
    
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 100px;
    padding-top: 10px;
    

}
.header-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.monke {
    width: 300px;
    height: auto;
    margin-left: 40px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
}
.sign-head {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.sign-text {
    color: #E5E7EB;
    font-size: 18px;
}
.sign-button {
    background-color: #3882F6;
    border-color: #3882F6;
    color:#F9FAF8;
    width: 120px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
}